
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
     overflow: scroll; 
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    height: 1rem;
    width: 100%;
    position: fixed;
}

nav .logo h1 {
    font-size: 24px;
    margin-left: 10px;
}
.logo {
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 1rem;


}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    padding-right: 40px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

#login{
    text-align: center;
    color: aqua;
    
}

.hero {
    background: url('https://wallpaperaccess.com/full/2538198.jpg') no-repeat center center/cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 40%;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero .btn {
    padding: 10px 20px;
    background-color: #f39c12;
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 5px;
}


.about {
    padding: 60px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}


.services {
    padding: 60px 20px;
    background-color: #fff;
    text-align: center;
}

.services h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.services-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.service {
    width: 30%;
}

.service h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.service p {
    font-size: 1rem;
}


.contact {
    padding: 60px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.contact button {
    padding: 15px 30px;
    background-color: #f39c12;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 80%;
        margin-bottom: 20px;
    }
}